@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url();
}

header {
    border: 2px black solid;
    padding: 4px 4px 4px 4px;
}

.results {
    width: 200px;
    height: 500px;
    margin: 15px 15px 15px 15px;
    float: left;
}

.results h3 {
    padding-left: 70px;
}

#images {
    display: inline;
    margin: 15px 15px 15px 15px;
}

#images img {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    border: 2px black solid;
}

.lorem {
    margin: 15px 15px 15px 15px;
}